# Xcode / build
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate

# Packaging
Payload/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# SwiftPM
.build/
.swiftpm/
